body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("Assets/road-town-paved-old-town.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.table-surround {
    border: 2px solid black;
    border-radius: 5%;
    background-color: #e6eced;
    padding: 5%;
    margin-top: 2.5%;
}

li {
    font-family: 'Metamorphous', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Metamorphous', cursive;
}

th, td, dt, dd, p, .form-group, address {
    font-family: 'Cuprum', sans-serif;
    font-size: large;
}

#copyright {
    color: darkgrey;
}

#homepage {
    background: url("Assets/road-town-paved-old-town.jpg") no-repeat center;
    background-size: cover;
}

#mylogo {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    animation: swing 7.0s infinite alternate ease-in-out;
    transform-origin: top;
}

.navbar-brand {
    padding-top: 15%;
}

@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.productHeader {
    background: url("Assets/pexels-photo-208674.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
    
}

#productHeaderSize {
    font-size: 800%;
}

.storeHeader {
    background: url("Assets/craft-monochrome-old-162631.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
}

#storeHeaderSize {
    font-size: 800%;
}

.inventoryHeader {
    background: url("Assets/alcohol-barrel-basement-434311.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
}

#inventoryHeaderSize {
    font-size: 800%;
}

.thumbnail {
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
