body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("Assets/road-town-paved-old-town.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.surround {
    border: 2px solid black;
    border-radius: 5%;
    background-color: #e6eced;
    padding: 1%;
    margin-top: 2.5%;
}

li {
    font-family: 'Metamorphous', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Metamorphous', cursive;
}

th, td, dt, dd, p, .form-group, address {
    font-family: 'Cuprum', sans-serif;
    font-size: large;
}

#copyright {
    color: darkgrey;
}

#homepage {
    background: url("Assets/road-town-paved-old-town.jpg") no-repeat center;
    background-size: cover;
}

#mylogo {
    content: "";
    display: block;
    position: static;
    margin-left: auto;
    margin-right: auto;
}

#mylogo {
    -webkit-animation-name: swing;
    -webkit-animation-duration: 7.0s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    animation: swing 7.0s infinite alternate ease-in-out;
    transform-origin: top;
}

.navbar-brand {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(5deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.storeHeader {
    background: url("Assets/craft-monochrome-old-162631.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
}

#storeHeaderSize {
    font-size: 8em;
}

.productHeader {
    background: url("Assets/pexels-photo-208674.jpeg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
}

#productHeaderSize {
    font-size: 8em;
}

.inventoryHeader {
    background: url("Assets/alcohol-barrel-basement-434311.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2% 2% 2% 2%;
    border-radius: 5% 5%;
    margin-top: 1%;
}

#inventoryHeaderSize {
    font-size: 8em;
}

@media only screen and (max-width: 768px) {
    #inventoryHeaderSize, #productHeaderSize, #storeHeaderSize {
        font-size: xx-large;
    }

    #mylogo {
        content: "";
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;
        height: 275px;
        width: 275px;
    }

    #mylogo {
        -webkit-animation-name: swing;
        -webkit-animation-duration: 7.0s;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-transform-origin: top;
        animation: swing 7.0s infinite alternate ease-in-out;
        transform-origin: top;
    }
}

.thumbnail {
    background-color: #e6eced;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
