@{
    ViewBag.Title = "About";
}
<div class="surround">
    <h3>@ViewBag.Message</h3>

    <p>Fantasy Store Manager is your one stop shop to manage all of your fantasy stores. From building stores, crafting products, and even adding inventory, Fantasy Store Manager has your fantasy store needs covered!</p>
</div>