@{
    ViewBag.Title = "Contact";
}
<div class="surround">
    <h3>@ViewBag.Message</h3>

    <address>
        The Brown Building<br />
        Center of Town<br />
        Contact us by Message spell, carrier beast, or in person
    </address>
</div>